/* screen - template-4b */

.template-4b {
  align-items: center;
  background-color: var(--rum-swizzle);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1752px;
  overflow: hidden;
  width: 1366px;
}

.template-4b .logo-crema-troja-transparente-6 {
  height: 125px;
  margin-left: 2.29px;
  margin-top: 75px;
  object-fit: cover;
  width: 214px;
}

.template-4b .instalao-pendente-de-agendamento {
  align-self: flex-end;
  letter-spacing: 2.26px;
  line-height: normal;
  margin-right: 4px;
  margin-top: 126px;
  width: 1247px;
}

.template-4b .ol-o-agendamento-d {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 60px;
  width: 1135px;
}

.template-4b .httpswwwloremipsumpt {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 49px;
  width: 1135px;
}

.template-4b .rectangle {
  background-color: var(--grape);
  border: 1px none;
  height: 2px;
  margin-top: 94px;
  width: 1136px;
}

.template-4b .overlap-group6 {
  align-self: flex-start;
  height: 76px;
  margin-left: 116px;
  margin-top: 59px;
  position: relative;
  width: 692px;
}

.template-4b .liga-t-se-simples-melhor {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 692px;
}

.template-4b .vector-1 {
  height: 19px;
  left: 148px;
  position: absolute;
  top: 50px;
  width: 38px;
}

.template-4b .wwwligatpt {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 19px;
  width: 1135px;
}

.template-4b .group-163038 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 767px;
  margin-top: 65px;
  min-width: 1398px;
}

.template-4b .flex-col {
  align-items: flex-start;
  background-color: var(--grape);
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 767px;
  padding: 50.4px 0;
  width: 1366px;
}

.template-4b .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 78px;
  min-height: 529px;
  width: 1347px;
}

.template-4b .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 290px;
  height: 459px;
  min-width: 1347px;
}

.template-4b .flex-col-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 453px;
  width: 635px;
}

.template-4b .flex-row-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 16px;
  height: 166px;
  min-width: 619px;
}

.template-4b .rectangle-1 {
  background-color: var(--red-ribbon);
  border: 0.9px none;
  height: 3px;
  margin-top: 40px;
  width: 95px;
}

.template-4b .liga-t-nossa-fibra {
  letter-spacing: 1.66px;
  line-height: 82.9px;
  width: 508px;
}

.template-4b .fibra-se-simples-melhor {
  align-self: center;
  letter-spacing: 0;
  line-height: 16.7px;
  margin-left: 38.52px;
  margin-top: 30px;
  white-space: nowrap;
  width: 442px;
}

.template-4b .subscreve-a-nossa-newsletter {
  letter-spacing: 0;
  line-height: 16.7px;
  margin-right: 16px;
  margin-top: 64px;
  white-space: nowrap;
  width: 503px;
}

.template-4b .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 9px;
  margin-top: 31px;
  min-width: 519px;
}

.template-4b .overlap-group2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cream);
  display: flex;
  height: 37px;
  min-width: 255px;
  padding: 8px 15px;
}

.template-4b .place {
  letter-spacing: 0;
  line-height: 16.7px;
  min-height: 15px;
  white-space: nowrap;
}

.template-4b .overlap-group4 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cream);
  display: flex;
  height: 37px;
  min-width: 255px;
  padding: 8px 14px;
}

.template-4b .e-mail {
  letter-spacing: 0;
  line-height: 16.7px;
  min-height: 15px;
  white-space: nowrap;
}

.template-4b .overlap-group5 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cream);
  display: flex;
  height: 37px;
  margin-top: 8px;
  min-width: 519px;
  padding: 10px 15px;
}

.template-4b .telefone {
  letter-spacing: 0;
  line-height: 16.7px;
  min-height: 15px;
  white-space: nowrap;
}

.template-4b .overlap-group1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cream);
  display: flex;
  height: 37px;
  margin-top: 9px;
  min-width: 519px;
  padding: 10px 15px;
}

.template-4b .cdigo-postal {
  letter-spacing: 0;
  line-height: 16.7px;
  min-height: 15px;
  white-space: nowrap;
}

.template-4b .flex-col-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 223px;
  width: 422px;
}

.template-4b .mdiplace {
  height: 22px;
  width: 22px;
}

.template-4b .avenida-jos-batista {
  letter-spacing: 0;
  line-height: 22.3px;
  margin-left: 1px;
  margin-top: 6px;
  width: 421px;
}

.template-4b .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 110px;
  height: 18px;
  margin-left: 2px;
  margin-top: 62px;
  min-width: 321px;
}

.template-4b .poltica-de-privacidade {
  letter-spacing: 0;
  line-height: 17.9px;
  white-space: nowrap;
  width: 197px;
}

.template-4b .text-1 {
  letter-spacing: 0;
  line-height: 17.9px;
  white-space: nowrap;
}

.template-4b .rectangle-2 {
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-left: 2px;
  margin-top: 12px;
  width: 321px;
}

.template-4b .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 120px;
  height: 18px;
  margin-left: 2px;
  margin-top: 17px;
  min-width: 321px;
}

.template-4b .poltica-de-cookies {
  letter-spacing: 0;
  line-height: 17.9px;
  white-space: nowrap;
  width: 187px;
}

.template-4b .flex-row-4 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 15px;
  margin-left: 17.0px;
  margin-top: 7px;
  min-width: 1132px;
}

.template-4b .rectangle-6 {
  align-self: flex-end;
  border: 0.5px solid;
  border-color: var(--cream);
  border-radius: 2px;
  height: 12px;
  width: 12px;
}

.template-4b .li-e-concordo-com-a {
  letter-spacing: 0;
  line-height: 16.7px;
  margin-left: 9px;
  min-height: 15px;
  white-space: nowrap;
  width: 327px;
}

.template-4b .rectangle-3 {
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-bottom: 2.0px;
  margin-left: 463px;
  width: 321px;
}

.template-4b .overlap-group3 {
  align-items: center;
  background-color: var(--red-ribbon);
  display: flex;
  height: 37px;
  margin-left: 116px;
  margin-top: 11px;
  min-width: 519px;
  padding: 0 219px;
}

.template-4b .subscrever {
  letter-spacing: 0;
  line-height: 16.7px;
  min-height: 15px;
  white-space: nowrap;
  width: 80px;
}

.template-4b .flex-row-5 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 20px;
  margin-left: 6.0px;
  min-width: 1136px;
}

.template-4b .vector-2 {
  height: 13px;
  margin-top: 0.45px;
  width: 18px;
}

.template-4b .vector {
  height: 14px;
  margin-left: 14px;
  margin-top: 0.46px;
  width: 14px;
}

.template-4b .phone {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16.0px;
  margin-left: 3px;
  text-align: right;
  white-space: nowrap;
  width: 105px;
}

.template-4b .custom-made-by-the-a {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 17.9px;
  margin-left: 568px;
  white-space: nowrap;
}
