/* screen - template-3a */

.template-3a {
  align-items: flex-end;
  background-color: var(--rum-swizzle);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1833px;
  overflow: hidden;
  width: 1366px;
}

.template-3a .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  margin-top: 75px;
  min-height: 480px;
  width: 1247px;
}

.template-3a .logo-crema-troja-transparente-6 {
  align-self: center;
  height: 125px;
  margin-right: 108.71px;
  object-fit: cover;
  width: 214px;
}

.template-3a .confirmao-de-instalao {
  letter-spacing: 2.26px;
  line-height: normal;
  margin-top: 126px;
  width: 1247px;
}

.template-3a .ol-confirmamos-a-i {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 60px;
  width: 1135px;
}

.template-3a .flex-row {
  align-items: flex-end;
  display: flex;
  gap: 57px;
  height: 95px;
  margin-right: -1px;
  margin-top: 66px;
  min-width: 1249px;
}

.template-3a .de-at {
  color: var(--grape);
  font-family: var(--font-family-bd_supper-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  min-height: 90px;
  min-width: 57px;
}

.template-3a .h-min-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  min-height: 95px;
  width: 1135px;
}

.template-3a .h-00min {
  letter-spacing: 0;
  line-height: normal;
  width: 1135px;
}

.template-3a .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  min-height: 1017px;
  width: 1366px;
}

.template-3a .rectangle-1 {
  background-color: var(--grape);
  border: 1px none;
  height: 2px;
  width: 1136px;
}

.template-3a .overlap-group1 {
  align-self: flex-start;
  height: 76px;
  margin-left: 116px;
  margin-top: 59px;
  position: relative;
  width: 692px;
}

.template-3a .liga-t-se-simples-melhor {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 692px;
}

.template-3a .vector {
  height: 19px;
  left: 148px;
  position: absolute;
  top: 50px;
  width: 38px;
}

.template-3a .wwwligatpt {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 19px;
  width: 1135px;
}

.template-3a .overlap-group {
  align-items: flex-start;
  background-color: var(--grape);
  display: flex;
  flex-direction: column;
  margin-top: 61px;
  min-height: 767px;
  padding: 52px 0;
  width: 1366px;
}

.template-3a .flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 76px;
  min-height: 213px;
  width: 619px;
}

.template-3a .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 166px;
  min-width: 619px;
}

.template-3a .rectangle-2 {
  background-color: var(--red-ribbon);
  border: 0.9px none;
  height: 3px;
  margin-top: 40px;
  width: 95px;
}

.template-3a .liga-t-nossa-fibra {
  letter-spacing: 1.66px;
  line-height: 82.9px;
  width: 508px;
}

.template-3a .fibra-se-simples-melhor {
  letter-spacing: 0;
  line-height: 16.7px;
  margin-left: 54.32px;
  white-space: nowrap;
  width: 442px;
}

.template-3a .mdiplace {
  align-self: center;
  height: 22px;
  margin-left: 506.0px;
  margin-top: 23px;
  width: 22px;
}

.template-3a .flex-row-2 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 83px;
  margin-right: 19.0px;
  margin-top: 6px;
  min-width: 1231px;
}

.template-3a .frame {
  height: 11px;
  margin-bottom: 6.98px;
  width: 16px;
}

.template-3a .email {
  letter-spacing: 0;
  line-height: 24.6px;
  margin-left: 15px;
  white-space: nowrap;
  width: 73px;
}

.template-3a .geralligatpt {
  letter-spacing: 0;
  line-height: 16.7px;
  margin-bottom: 4.4px;
  margin-left: 222px;
  text-align: right;
  white-space: nowrap;
  width: 136px;
}

.template-3a .avenida-jos-batista {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 22.3px;
  margin-left: 348px;
  width: 421px;
}

.template-3a .flex-row-3 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 51px;
  margin-right: 2.0px;
  margin-top: 14px;
  min-width: 1132px;
}

.template-3a .flex-col-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 51px;
  width: 462px;
}

.template-3a .rectangle-3 {
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-right: 0;
  width: 462px;
}

.template-3a .flex-row-4 {
  align-items: center;
  display: flex;
  gap: 250px;
  height: 25px;
  margin-top: 11px;
  min-width: 431px;
}

.template-3a .facebook {
  letter-spacing: 0;
  line-height: 24.6px;
  white-space: nowrap;
  width: 96px;
}

.template-3a .ligatpt {
  letter-spacing: 0;
  line-height: 16.7px;
  margin-bottom: 0.8px;
  text-align: right;
  white-space: nowrap;
  width: 85px;
}

.template-3a .rectangle-4 {
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-right: 0;
  margin-top: 14px;
  width: 462px;
}

.template-3a .faq {
  letter-spacing: 0;
  line-height: 17.9px;
  margin-bottom: 0.88px;
  margin-left: 349px;
  white-space: nowrap;
  width: 50px;
}

.template-3a .text-5 {
  letter-spacing: 0;
  line-height: 17.9px;
  margin-bottom: 0.88px;
  margin-left: 257px;
  white-space: nowrap;
  width: 14px;
}

.template-3a .rectangle {
  align-self: flex-end;
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-right: 118px;
  margin-top: 11px;
  width: 321px;
}

.template-3a .flex-row-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 35px;
  margin-right: 2.0px;
  min-width: 1132px;
}

.template-3a .frame-1 {
  align-self: center;
  height: 14px;
  margin-bottom: 8.48px;
  width: 14px;
}

.template-3a .instagram {
  letter-spacing: 0;
  line-height: 24.6px;
  margin-left: 18px;
  white-space: nowrap;
  width: 91px;
}

.template-3a .ligatpt-1 {
  letter-spacing: 0;
  line-height: 16.7px;
  margin-left: 255px;
  margin-top: 3.6px;
  text-align: right;
  white-space: nowrap;
  width: 85px;
}

.template-3a .documentos-legais {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 17.9px;
  margin-left: 349px;
  white-space: nowrap;
  width: 187px;
}

.template-3a .text-6 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 17.9px;
  margin-left: 120px;
  white-space: nowrap;
  width: 14px;
}

.template-3a .rectangle-5 {
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-left: 116px;
  margin-top: 1px;
  width: 462px;
}

.template-3a .flex-row-6 {
  align-items: center;
  display: flex;
  height: 25px;
  margin-left: 116px;
  margin-top: 1px;
  min-width: 462px;
}

.template-3a .mdilinkedin {
  height: 14px;
  margin-bottom: 1.0px;
  width: 14px;
}

.template-3a .linked-in {
  letter-spacing: 0;
  line-height: 24.6px;
  margin-left: 18px;
  white-space: nowrap;
  width: 96px;
}

.template-3a .ligatpt-2 {
  letter-spacing: 0;
  line-height: 16.7px;
  margin-bottom: 0.8px;
  margin-left: 250px;
  text-align: right;
  white-space: nowrap;
  width: 85px;
}

.template-3a .rectangle-6 {
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-left: 116px;
  margin-top: 14px;
  width: 462px;
}

.template-3a .flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  margin-left: 118px;
  margin-top: 13px;
  min-width: 460px;
}

.template-3a .riwhatsapp-fill {
  align-self: center;
  height: 11px;
  margin-bottom: 0.26px;
  width: 11px;
}

.template-3a .whats-app {
  letter-spacing: 0;
  line-height: 24.6px;
  margin-left: 19px;
  white-space: nowrap;
  width: 91px;
}

.template-3a .phone {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 22.3px;
  margin-left: 229px;
  text-align: right;
  white-space: nowrap;
  width: 110px;
}

.template-3a .rectangle-7 {
  background-color: var(--cream-2);
  border: 0.9px none;
  height: 1px;
  margin-left: 116px;
  margin-top: 9px;
  width: 462px;
}

.template-3a .custom-made-by-the-a {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 17.9px;
  margin-right: 112px;
  margin-top: 6px;
  white-space: nowrap;
  width: 327px;
}
